@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial.eot");
  src: local("☺"), url("../../assets/fonts/Arial.woff") format("woff"), url("../../assets/fonts/Arial.ttf") format("truetype"), url("../../assets/fonts/Arial.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia_regular";
  src: url("../../assets/fonts/Georgia Regular font.eot");
  src: local("☺"), url("../../assets/fonts/Georgia Regular font.woff") format("woff"), url("../../assets/fonts/Georgia Regular font.ttf") format("truetype"), url("../../assets/fonts/Georgia Regular font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia_bold";
  src: url("../../assets/fonts/georgia bold.eot");
  src: local("☺"), url("../../assets/fonts/georgia bold.woff") format("woff"), url("../../assets/fonts/georgia bold.ttf") format("truetype"), url("../../assets/fonts/georgia bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../../assets/iconsFonts/icomoon.eot?2ja362");
  src: url("../../assets/iconsFonts/icomoon.eot?2ja362#iefix") format("embedded-opentype"), url("../../assets/iconsFonts/icomoon.ttf?2ja362") format("truetype"), url("../../assets/iconsFonts/icomoon.woff?2ja362") format("woff"), url("../../assets/iconsFonts/icomoon.svg?2ja362#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow_left:before {
  content: "\e900";
}

._icon-arrow_right:before {
  content: "\e901";
}

._icon-email:before {
  content: "\e902";
}

._icon-marker:before {
  content: "\e903";
}

._icon-phone:before {
  content: "\e904";
}

body {
  font-family: "Georgia_regular";
  line-height: 1;
  background-color: #ffffff;
  color: #4c4c4c;
  font-size: 0.9375rem;
}

body.lock {
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  font-size: 2.75rem;
  line-height: 130%;
}

@media (max-width: 20em) {
  h1 {
    font-size: 1.5625rem;
    letter-spacing: 0.06em;
  }
}

h2 {
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: colorH24;
}

@media (max-width: 36em) {
  h2 {
    font-size: 1.5625rem;
  }
}

h3 {
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: colorH24;
}

a {
  color: #fafafa;
}

.wraper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blackout-screan {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease-out 0s;
  transition: 0.5s ease-out 0s;
}

.blackout-screan.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s ease-in 0.1s;
  transition: 0.5s ease-in 0.1s;
}

.info-popap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease-out 0s;
  transition: 0.5s ease-out 0s;
}

.info-popap__body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 52px;
}

@media (max-width: 20em) {
  .info-popap__body {
    padding: 30px 40px;
  }
}

.info-popap__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 902px;
  border-radius: 9px;
  color: #000000;
  background-color: #fafafa;
}

@media (max-width: 48em) {
  .info-popap__content {
    max-width: 630px;
  }
}

@media (max-width: 320px) {
  .info-popap__content {
    width: 240px;
  }
}

.info-popap__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55.433%;
          flex: 0 0 55.433%;
  padding-bottom: 55.433%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  overflow: hidden;
  border-radius: 9px;
}

@media (max-width: 48em) {
  .info-popap__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55.555%;
            flex: 0 0 55.555%;
    padding-bottom: 55.555%;
    margin: 0;
  }
}

@media (max-width: 36em) {
  .info-popap__image {
    display: none;
  }
}

.info-popap__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-popap__data {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 50px 23px 88px 30px;
}

@media (max-width: 62em) {
  .info-popap__data {
    padding: 10px 11px 37px 10px;
  }
}

@media (max-width: 36em) {
  .info-popap__data {
    margin: 0 auto;
    padding: 10px;
  }
}

.info-popap__title {
  font-size: 2.1875rem;
  margin: 0px 0px 0.625rem 0px;
}

@media (max-width: 36em) {
  .info-popap__title {
    text-align: center;
  }
}

.info-popap__sub-title {
  margin-bottom: 2.5rem;
}

@media (max-width: 48em) {
  .info-popap__sub-title {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 36em) {
  .info-popap__sub-title {
    text-align: center;
  }
}

.info-popap__description {
  margin-bottom: 2.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

@media (max-width: 48em) {
  .info-popap__description {
    font-size: 0.8125rem;
    margin-bottom: 1.5rem;
    text-align: justify;
  }
}

.info-popap__features li {
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.info-popap__features li:not(:last-child) {
  margin-bottom: 0.625rem;
}

@media (max-width: 48em) {
  .info-popap__features li:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
}

.info-popap__features li::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100px;
  margin-right: 10px;
  background-color: #f1cdb3;
}

.info-popap__features span {
  font-weight: 400;
}

.info-popap__btn-close {
  position: absolute;
  right: -43px;
  top: -48px;
  width: 52px;
  height: 52px;
  background-color: #fafafa00;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (max-width: 30em) {
  .info-popap__btn-close {
    right: -30px;
    top: -55px;
  }
}

.info-popap__btn-close:hover {
  border-color: #fddcc4;
  background-color: #fddcc4;
}

.info-popap__btn-close svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.info-popap.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s ease-in 0.1s;
  transition: 0.5s ease-in 0.1s;
}

.header {
  padding: 60px 0 0px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

@media (max-width: 62em) {
  .header {
    padding: 30px 0px 0px 0px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 62em) {
  .header__container {
    padding: 0px 30px;
  }
}

@media (max-width: 47.99em) {
  .header__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0px 15px;
  }
}

.header__logo {
  margin-right: 43px;
  white-space: nowrap;
  z-index: 4;
}

@media (max-width: 19.99em) {
  .header__logo {
    margin-right: 20px;
  }
}

.header__logo-title {
  color: #f1cdb3;
  margin-bottom: 0.3125em;
}

@media (max-width: 19.99em) {
  .header__logo-title {
    font-size: 1.5rem;
  }
}

.header__logo-subtitle {
  font-family: "Arial";
  font-size: 0.8125rem;
  line-height: 115.4%;
  letter-spacing: 0.1em;
  color: #ffffff;
}

@media (max-width: 19.99em) {
  .header__logo-subtitle {
    font-size: 0.75rem;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 47.99em) {
  .menu__body {
    position: fixed;
    right: -120%;
    top: 0;
    width: 320px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #292929;
    z-index: 3;
    overflow-y: auto;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
  }
}

@media (max-width: 47.99em) {
  .menu__body.active {
    right: 0;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

@media (max-width: 47.99em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__list li:not(:last-child) {
  margin-right: 2.334em;
}

@media (max-width: 47.99em) {
  .menu__list li:not(:last-child) {
    font-size: 2rem;
    margin: 0em 0em 1.25em 0em;
  }
}

.menu__link {
  font-family: "Arial";
  line-height: 160%;
  position: relative;
  padding: 15px 0;
}

@media (max-width: 47.99em) {
  .menu__link {
    font-size: 2rem;
  }
}

.menu__link::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 12px;
  width: 0%;
  height: 3px;
  background-color: #f1cdb3;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.menu__link:hover::before {
  content: "";
  width: 100%;
  left: 0;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.menu__link.active::before {
  content: "";
  width: 100%;
  left: 0;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.menu__icon {
  margin-right: 38px;
}

.icon-menu {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 4;
}

@media (max-width: 47.99em) {
  .icon-menu {
    display: block;
  }
}

.icon-menu span {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
  height: 2px;
  background: #f1cdb3;
  -webkit-transition: 0.5s ease;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.icon-menu::before,
.icon-menu::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  background: #f1cdb3;
  width: 100%;
}

.icon-menu::before {
  top: 0px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.icon-menu::after {
  content: "";
  bottom: 0px;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.icon-menu.active span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 5px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.icon-menu.active::before {
  content: "";
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 5px;
  left: -10px;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.icon-menu.active::after {
  content: "";
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 5px;
  left: 10px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main .start-block {
  position: relative;
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding: 180px 0 0 0;
}

@media (max-width: 62em) {
  .main .start-block {
    padding: 0px;
  }
}

.main .start-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 62em) {
  .main .start-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 36em) {
  .main .start-block__container {
    padding: 0 10px;
  }
}

.main .start-block__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.834%;
          flex: 0 0 41.834%;
  max-width: 29.6875rem;
  margin: 10.1875rem 30px 0px 0px;
}

@media (max-width: 62em) {
  .main .start-block__info {
    margin: 150px 0px 100px 0px;
    text-align: center;
  }
}

.main .start-block__info :not(:last-child) {
  margin-bottom: 2.625rem;
}

.main .start-block__title {
  color: #ffffff;
  max-width: 22.375rem;
  text-align: left;
}

@media (max-width: 20em) {
  .main .start-block__title {
    max-width: 12.5rem;
    text-align: center;
    margin: 0 auto;
  }
}

.main .start-block__description {
  font-family: "Arial";
  line-height: 160%;
  color: #cdcdcd;
  text-align: left;
}

@media (max-width: 36em) {
  .main .start-block__description {
    text-align: center;
  }
}

.main .start-block__btn {
  font-size: 1.0625rem;
  line-height: 130%;
  background-color: #f1cdb3;
  color: #292929;
  letter-spacing: 0.06em;
  padding: 0.883em 2.647em;
  border-radius: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main .start-block__btn:hover {
  background-color: #fddcc4;
}

.main .start-block__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 58.166%;
          flex: 0 1 58.166%;
  padding-bottom: 60.666%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 62em) {
  .main .start-block__image {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 77.101%;
    padding-bottom: 80.353%;
  }
}

@media (max-width: 36em) {
  .main .start-block__image {
    width: 81.25%;
    padding-bottom: 84.688%;
  }
}

.main .start-block__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.main .about {
  padding: 80px 0 100px 0px;
}

@media (max-width: 36em) {
  .main .about {
    padding: 42px 0 42.5px 0px;
  }
}

.main .about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 48em) {
  .main .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main .about__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding-bottom: 34%;
  margin-right: 120px;
}

@media (max-width: 62em) {
  .main .about__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40.66%;
            flex: 1 1 40.66%;
    width: 40.66%;
    padding-bottom: 55.285%;
    margin-right: 40px;
  }
}

@media (max-width: 48em) {
  .main .about__image {
    margin: 80px 0 0 0;
  }
}

@media (max-width: 36em) {
  .main .about__image {
    width: 89.656%;
    padding-bottom: 121.725%;
  }
}

.main .about__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main .about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-top: 14px;
  max-width: 26.875rem;
}

@media (max-width: 62em) {
  .main .about__content {
    margin: 0;
  }
}

.main .about__title {
  max-width: 19.0625rem;
  margin-bottom: 1.563rem;
}

@media (max-width: 36em) {
  .main .about__title {
    text-align: center;
    margin: 0 auto 1.563rem auto;
  }
}

.main .about__text :not(:last-child) {
  margin-bottom: 1.563rem;
}

.main .about__par {
  line-height: 160%;
}

.main .our-friends {
  padding: 80px 0 100px 0;
  background: #f6f6f6;
}

@media (max-width: 36em) {
  .main .our-friends {
    padding: 42px 0;
  }
}

.main .our-friends__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .our-friends__title {
  max-width: 25rem;
  text-align: center;
  margin-bottom: 3.75rem;
}

@media (max-width: 36em) {
  .main .our-friends__title {
    margin-bottom: 2.625rem;
  }
}

.main .our-friends__slider {
  width: 82.5%;
}

@media (max-width: 48em) {
  .main .our-friends__slider {
    width: 75.521%;
  }
}

.main .our-friends__slider:not(:last-child) {
  margin-bottom: 3.75rem;
}

@media (max-width: 36em) {
  .main .our-friends__slider:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}

.main .our-friends__btn {
  background-color: #f1cdb3;
  color: #292929;
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-radius: 100px;
  padding: 0.8824em 2.6471em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main .our-friends__btn:hover {
  border-color: #fddcc4;
  background-color: #fddcc4;
}

.main .slider {
  position: relative;
}

.main .slider__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5.625rem;
          column-gap: 5.625rem;
}

@media (max-width: 62em) {
  .main .slider__wraper {
    -webkit-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
  .main .slider__wraper div:nth-child(3) {
    display: none;
  }
}

@media (max-width: 73.75em) {
  .main .slider__wraper {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

@media (max-width: 47.999em) {
  .main .slider__wraper {
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 36em) {
  .main .slider__wraper div:nth-child(2) {
    display: none;
    -webkit-column-gap: 0rem;
            column-gap: 0rem;
  }
}

.main .slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.875rem;
  background-color: #fafafa;
  border-radius: 9px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}
.main .slider__slide:hover:hover {
	background-color: #ffffff;
	box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.main .slider__slide:hover .slider__slide-btn{
	border-color: #fddcc4;
	background-color: #fddcc4;
}



.main .slider__slide :not(:last-child) {
  margin-bottom: 1.875rem;
}

.main .slider__slide-image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

@media (min-width: 48em) {
  .main .slider__slide-image {
    width: 270px;
    padding-bottom: 270px;
  }
}

@media (max-width: 36em) {
  .main .slider__slide-image {
    width: 270px;
    padding-bottom: 270px;
  }
}

.main .slider__slide-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
	  border-radius: 9px;
}

.main .slider__slide-btn {
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #f1cdb3;
  padding: 0.8824em 2.6471em;
  border-radius: 100px;
  background-color: #f6f6f6;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (max-width: 36em) {
  .main .slider__btns-wraper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 185px;
  }
  .main .slider__btns-wraper :not(:last-child) {
    margin-bottom: 2.625rem;
  }
}

.main .slider__btn {
  position: relative;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (min-width: 36em) {
  .main .slider__btn {
    position: absolute;
    top: 53%;
  }
}

.main .slider__btn:hover {
  border-color: #fddcc4;
  background-color: #fddcc4;
}

.main .slider__btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .slider__btn::after, .main .slider__btn::before {
  content: "";
  display: none;
}

@media (min-width: 36em) {
  .main .slider__btn-prev {
    left: 0;
    -webkit-transform: translate(25%, -53%);
            transform: translate(25%, -53%);
  }
}

@media (min-width: 36em) {
  .main .slider__btn-next {
    right: 0;
    -webkit-transform: translate(-25%, -53%);
            transform: translate(-25%, -53%);
  }
}

.main .slider__wraper_second {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}

.main .visible {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.main .unvisible {
  visibility: hidden;
  opacity: 0;
}

.main .help {
  padding: 80px 0 100px 0;
}

@media (max-width: 36em) {
  .main .help {
    padding: 42px 0;
  }
}

.main .help__title {
  max-width: 20.313rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3.75rem;
}

@media (max-width: 36em) {
  .main .help__title {
    max-width: 16rem;
    margin-bottom: 2.625rem;
  }
}

.main .help__variety {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  row-gap: 53px;
}

@media (max-width: 36em) {
  .main .help__variety {
    gap: 30px;
  }
}

.main .help__option {
  min-width: 150px;
  text-align: center;
}

@media (max-width: 36em) {
  .main .help__option {
    min-width: 130px;
  }
}

@media (max-width: 36em) {
  .main .help__option-title {
    font-size: 0.9375rem;
    line-height: 110%;
  }
}

.main .help__icon {
  position: relative;
  width: 40%;
  padding-bottom: 40%;
  margin: 0 auto 1.875rem auto;
}

@media (max-width: 36em) {
  .main .help__icon {
    width: 38.462%;
    padding-bottom: 38.462%;
    margin: 0 auto 1.25rem auto;
  }
}

.main .help__icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .donation {
  padding: 80px 0 100px 0;
  background: #f6f6f6;
}

@media (max-width: 36em) {
  .main .donation {
    padding: 42px 0;
  }
}

.main .donation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 48em) {
  .main .donation__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main .donation__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42.084%;
          flex: 0 1 42.084%;
  padding-bottom: 21.75%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 62em) {
  .main .donation__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 48em) {
  .main .donation__image {
    width: 68.429%;
    padding-bottom: 35.366%;
  }
}

@media (max-width: 36em) {
  .main .donation__image {
    width: 89.655%;
    padding-bottom: 46.621%;
  }
}

.main .donation__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .donation__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-width: 22rem;
  margin-left: 1.875rem;
}

@media (max-width: 48em) {
  .main .donation__content {
    margin: 0px 0px 3.75rem 0px;
  }
}

@media (max-width: 36em) {
  .main .donation__content {
    max-width: 17.5rem;
    margin: 0px 0px 2.625rem 0px;
  }
}

.main .donation__title {
  max-width: 18.758rem;
}

@media (max-width: 36em) {
  .main .donation__title {
    max-width: 13rem;
    text-align: center;
    margin: 0 auto;
  }
}

.main .donation__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.main .donation__bank-account:not(:last-child) {
  margin-bottom: 1.25rem;
}

.main .donation__type-account {
  color: #545454;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 1rem;
}

@media (max-width: 36em) {
  .main .donation__type-account {
    font-size: 13px;
    line-height: 160%;
  }
}

.main .donation__credit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0.75em;
  font-size: 1.25rem;
  line-height: 115%;
  color: #545454;
  background-color: #f1cdb3;
  border-radius: 9px;
}

.main .donation__icon {
  position: relative;
  margin-right: 15px;
  width: 30px;
  height: 23px;
}

.main .donation__icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .donation__number {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  white-space: nowrap;
}

@media (max-width: 36em) {
  .main .donation__number {
    font-size: 15px;
    line-height: 110%;
  }
}

.main .donation__text {
  font-family: "Arial";
  font-style: italic;
  font-size: 0.75rem;
  line-height: 150%;
  text-align: justify;
  color: #b2b2b2;
}

.footer {
  padding: 60px 0 0 0;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 0 0 0;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 65px;
}

@media (max-width: 62em) {
  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 60px;
            column-gap: 60px;
  }
}

@media (max-width: 36em) {
  .footer__container {
    row-gap: 60px;
  }
}

.footer__column {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  max-width: 18.125rem;
}

@media (max-width: 47.99em) {
  .footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 100%;
  }
}

@media (max-width: 47.99em) {
  .footer__column_image {
    max-width: 18.125rem;
  }
}

.footer__title {
  color: #ffffff;
  margin-bottom: 40px;
}

@media (max-width: 47.99em) {
  .footer__title {
    text-align: center;
  }
}

.footer__links :not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer__link::before {
  margin-right: 20px;
  font-size: 30px;
}

.footer__img-puppy {
  height: 100%;
  width: 100%;
}

.footer__column_image {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
