$fontFamily: "Georgia_regular";
$fontSize: 0.9375rem;
$mainColor: #4c4c4c;
$colorH24: #545454;
$colorBtns: #292929;
$mainBgColor: #ffffff;
$maxWidthContainer: 1230px;
$containerPadding: 15px;
$colorPrimary: #f1cdb3;
$white: #ffffff;
$btnsHover: #fddcc4;
