.about {
	padding: 80px 0 100px 0px;
	@media (max-width: 36em) {
		padding: 42px 0 42.5px 0px;
	}
	&__container {
		display: flex;
		justify-content: center;
		@media (max-width: 48em) {
			flex-direction: column-reverse;
			align-items: center;
		}
	}

	&__image {
		position: relative;
		flex: 0 1 25%;
		padding-bottom: 34%;
		margin-right: 120px;
		@media (max-width: 62em) {
			flex: 1 1 40.66%;
			width: 40.66%;
			padding-bottom: 55.285%;
			margin-right: 40px;
		}
		@media (max-width: 48em) {
			margin: 80px 0 0 0;
		}
		@media (max-width: 36em) {
			width: 89.656%;
			padding-bottom: 121.725%;
		}
	}
	&__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__content {
		flex: 0 1 auto;
		margin-top: 14px;
		max-width: 26.875rem;
		@media (max-width: 62em) {
			margin: 0;
		}
	}

	&__title {
		max-width: 19.0625rem;
		margin-bottom: 1.563rem;
		@media (max-width: 36em) {
			text-align: center;
			margin: 0 auto 1.563rem auto;
		}
	}

	&__text {
	}
	&__text :not(:last-child) {
		margin-bottom: 1.563rem;
	}

	&__par {
		line-height: 160%;
	}
}
