.header {
	padding: 60px 0 0px 0;
	// background-color: rgba(109, 109, 109, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	@media (max-width: 62em) {
		padding: 30px 0px 0px 0px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 62em) {
			padding: 0px 30px;
		}
		@media (max-width: 47.99em) {
			justify-content: flex-end;
			padding: 0px 15px;
		}
	}

	&__logo {
		margin-right: 43px;
		white-space: nowrap;
		z-index: 4;
		@media (max-width: 19.99em) {
			margin-right: 20px;
		}
	}
	&__logo-title {
		color: $colorPrimary;
		margin-bottom: 0.3125em;
		@media (max-width: 19.99em) {
			font-size: 1.5rem;
		}
	}

	&__logo-subtitle {
		font-family: "Arial";
		font-size: 0.8125rem;
		line-height: 115.4%;
		letter-spacing: 0.1em;
		color: $white;
		@media (max-width: 19.99em) {
			font-size: 0.75rem;
		}
	}

	&__menu {
		display: flex;
	}
}
.menu {
	&__body {
		@media (max-width: 47.99em) {
			position: fixed;
			right: -120%;
			top: 0;
			width: 320px;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #292929;
			z-index: 3;
			overflow-y: auto;
			transition: 0.5s ease-out;
		}
	}
	&__body.active {
		@media (max-width: 47.99em) {
			right: 0;
			transition: 0.5s ease-in;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		row-gap: 10px;
		@media (max-width: 47.99em) {
			flex-direction: column;
		}
	}
	&__list li:not(:last-child) {
		margin-right: 2.334em;
		@media (max-width: 47.99em) {
			font-size: 2rem;
			margin: 0em 0em 1.25em 0em;
		}
	}

	&__link {
		font-family: "Arial";
		line-height: 160%;
		@media (max-width: 47.99em) {
			font-size: 2rem;
		}
	}

	&__icon {
		margin-right: 38px;
	}
}
.icon-menu {
	display: none;
	position: relative;
	width: 30px;
	height: 22px;
	cursor: pointer;
	z-index: 4;
	@media (max-width: 47.99em) {
		display: block;
	}
}

.icon-menu.active {
}

.icon-menu span {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 100%;
	height: 2px;
	background: $colorPrimary;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.3s ease-out;
}

.icon-menu::before,
.icon-menu::after {
	content: "";
	position: absolute;
	height: 2px;
	left: 0;
	background: $colorPrimary;
	width: 100%;
}

.icon-menu::before {
	top: 0px;
	transition: 0.5s ease-out;
}

.icon-menu::after {
	content: "";
	bottom: 0px;
	transition: 0.1s ease-out;
}

.icon-menu.active span {
	transform: rotate(-90deg);
	top: 5px;
	transition: 0.3s ease-in;
}

.icon-menu.active::before {
	content: "";
	transform: rotate(-90deg);
	top: 5px;
	left: -10px;
	transition: 0.1s ease-in;
}

.icon-menu.active::after {
	content: "";
	transform: rotate(-90deg);
	top: 5px;
	left: 10px;
	transition: 0.5s ease-in;
}
