.help {
	padding: 80px 0 100px 0;
	@media (max-width: 36em) {
		padding: 42px 0;
	}
	&__container {
	}

	&__title {
		max-width: 20.313rem;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 3.75rem;
		@media (max-width: 36em) {
			max-width: 16rem;
			margin-bottom: 2.625rem;
		}
	}

	&__variety {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 60px;
		row-gap: 53px;
		@media (max-width: 36em) {
			gap: 30px;
		}
	}

	&__option {
		min-width: 150px;
		text-align: center;
		@media (max-width: 36em) {
			min-width: 130px;
		}
	}
	&__option-title {
		@media (max-width: 36em) {
			font-size: 0.9375rem;
			line-height: 110%;
		}
	}

	&__icon {
		position: relative;
		width: 40%;
		padding-bottom: 40%;
		margin: 0 auto 1.875rem auto;
		@media (max-width: 36em) {
			width: 38.462%;
			padding-bottom: 38.462%;
			margin: 0 auto 1.25rem auto;
		}
	}
	&__icon img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
