.our-friends {
	padding: 80px 0 100px 0;
	background: #f6f6f6;
	@media (max-width: 36em) {
		padding: 42px 0;
	}
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		max-width: 25rem;
		text-align: center;
		margin-bottom: 3.75rem;
		@media (max-width: 36em) {
			margin-bottom: 2.625rem;
		}
	}

	&__slider {
		width: 82.5%;
		@media (max-width: 48em) {
			width: 75.521%;
		}
	}
	&__slider:not(:last-child) {
		margin-bottom: 3.75rem;
		@media (max-width: 36em) {
			margin-bottom: 0.8rem;
		}
	}

	&__btn {
		background-color: $colorPrimary;
		color: $colorBtns;
		font-size: 1.0625rem;
		line-height: 130%;
		letter-spacing: 0.06em;
		border-radius: 100px;
		padding: 0.8824em 2.6471em;
		transition: 0.3s ease;
	}

	&__btn:hover {
		border-color: $btnsHover;
		background-color: $btnsHover;
	}
}

.slider {
	position: relative;
	&__wraper {
		display: flex;
		justify-content: center;
		column-gap: 5.625rem;
		@media (max-width: 62em) {
			column-gap: 2.5rem;
			div:nth-child(3) {
				display: none;
			}
		}
		@media (max-width: 73.75em) {
			column-gap: 2rem;
		}
		@media (max-width: 47.999em) {
			column-gap: 1.25rem;
		}
		@media (max-width: 36em) {
			div:nth-child(2) {
				display: none;
				column-gap: 0rem;
			}
		}
	}

	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 1.875rem; //30
		background-color: #fafafa;
		border-radius: 9px;
		transition: 0.5s ease;
		cursor: pointer;
	}
	&__slide:hover {
		background-color: #FFFFFF;
		box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
	}
	&__slide:hover &__slide-btn{
		border-color: $btnsHover;
		background-color: $btnsHover;
	}
	

	&__slide :not(:last-child) {
		margin-bottom: 1.875rem;
	}

	&__slide-image {
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		@media (min-width: 48em) {
			width: 270px;
			padding-bottom: 270px;
		}
		@media (max-width: 36em) {
			width: 270px;
			padding-bottom: 270px;
		}
	}
	&__slide-image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__slide-btn {
		font-size: 1.0625rem;
		line-height: 130%;
		letter-spacing: 0.06em;
		color: $colorBtns;
		border: 2px solid $colorPrimary;
		padding: 0.8824em 2.6471em;
		border-radius: 100px;
		background-color: #f6f6f6;
		transition: 0.3s ease;
	}

	&__btns-wraper {
		@media (max-width: 36em) {
			position: relative;
			display: flex;
			justify-content: space-between;
			width: 185px;
			:not(:last-child) {
				margin-bottom: 2.625rem;
			}
		}
	}
	&__btn {
		position: relative;
		border: 2px solid $colorPrimary;
		border-radius: 100px;
		width: 52px;
		height: 52px;
		z-index: 1;
		cursor: pointer;
		transition: 0.3s ease;
		@media (min-width: 36em) {
			position: absolute;
			top: 53%;
		}
	}
	&__btn:hover {
		border-color: $btnsHover;
		background-color: $btnsHover;
	}
	&__btn svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__btn::after,
	&__btn::before {
		content: "";
		display: none;
	}

	&__btn-prev {
		@media (min-width: 36em) {
			left: 0;
			transform: translate(25%, -53%);
		}
	}

	&__btn-next {
		@media (min-width: 36em) {
			right: 0;
			transform: translate(-25%, -53%);
		}
	}
}
.slider__wraper_second {
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	z-index: 0;
}
.visible {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}
.unvisible {
	visibility: hidden;
	opacity: 0;
}
